//COLOR VARIABLE
$main-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
$main-color: rgba(0, 60, 255, 1);
$main-bg-color: rgba(255, 255, 255, 1);
$hover-color: rgba(231, 237, 255, 1);
$light-bg: #f5f6fa;

$dark-color: rgb(26, 26, 26);
$sky-color: rgb(0, 153, 255);
$purple-color: #a2e;
$pink-color: #c1b;
$orange-color: #fa8142;
$green-color: #09c372;
$orange-pink-gradient: linear-gradient(90deg, #fa8142, #ff4088);
$purple-pink-gradient: linear-gradient(145deg, #72f, #c1b);


//Alternative
$light-blue: #D7E7FF;
$mint-color: #ABF0CF;

//PADDING VARIABLE
$desktop-padding: 20px 50px;
$mobile-padding: 10px 20px;
$desktop-top-nav-padding: 10px 50px;
$mobile-top-nav-padding: 0 20px;

//FONT VARIABLE
$font-family: 'Montserrat', sans-serif;
